@using System.Web.Script.Serialization
@model OxTots.ViewModel.ResourceViewModel
@{ ViewBag.Title = "Resource"; }
<section class="full-width-container inner-page-top-margin bg--accent">
    <div class="container-fluid">
        <div class="min-row row no-gutters">
            <div class="order-last order-lg-first col-xl-7">
                <div class="listing-box-wrap-layout1">
                    <div class="container">
                        <div class="section-heading heading-dark heading-center">
                            <h2 class="item-title">@Model.Title</h2>
                            <div class="item-sub-title">@Model.Description</div>
                        </div>
                    </div>
                    <div class="widget-filter row">
                        @for (var i = 0; i < Model.Features.Count; i++)
                        {
                            <div class="checkbox-filter col-6">
                                @Html.CheckBoxFor(m => m.Features[i].IsSelected, new { @class = "hidden", disabled = "disabled" })
                                @Html.LabelFor(m => m.Features[i].IsSelected, Model.Features[i].Name, new { @class = "float-left" })
                            </div>

                            @Html.HiddenFor(m => m.Features[i].ID)
                            @Html.HiddenFor(m => m.Features[i].Name)
                        }
                    </div>
                </div>
                <div class="container">
                    <div class="widget widget-information widget-box-padding">
                        <h3 class="widget-title">@Model.ContactTitle</h3>
                        <ul class="block-list">
                            @if (!String.IsNullOrEmpty(Model.Address))
                            {
                                <li class="block-list-item"><i class="fas fa-map-marker-alt"></i> <a href="https://maps.google.com/?q=@Model.GPSLat,@Model.GPSLong" target="_blank">@Model.Address</a></li>}
                            @if (!String.IsNullOrEmpty(Model.OpeningHours))
                            {
                                <li class="block-list-item"><i class="far fa-clock"></i>@Model.OpeningHours</li>}
                            @if (!String.IsNullOrEmpty(Model.Website))
                            {
                                <li class="block-list-item"><i class="fas fa-globe"></i><a href="@Model.Website" target="_blank">@Model.Website</a></li>}
                            @if (!String.IsNullOrEmpty(Model.Email))
                            {
                                <li class="block-list-item"><i class="fas fa-envelope"></i><a href="mailto:@Model.Email" target="_top">@Model.Email</a></li>}
                            @if (!String.IsNullOrEmpty(Model.Phone))
                            {
                                <li class="block-list-item"><i class="fas fa-phone"></i><a href="tel:@Model.Phone">@Model.Phone</a></li>}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="order-first order-lg-last col-xl-5">
                @{ var js = new JavaScriptSerializer();}
                <div id="googleMapData" type="hidden" value="@js.Serialize(Model.Markers)"></div>
                <div id="googleMap" class="SearchGoogleMap col-12"></div>
            </div>
        </div>
    </div>
</section>
