@using OxTots.Utility
@using OxTots.ViewModel
@{
    var viewModel = (LayoutViewModel) ViewBag.LayoutViewModel;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@viewModel.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->

    <div id="wrapper" class="wrapper">
        <!-- Header Area Start Here -->
        <header id="site-header" class="header-one">
            <div class="header-main header-sticky @(viewModel.HeaderDark? "bg--dark" : "")">
                <div class="container-fluid">
                    <div class="mob-menu-open toggle-menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-12">
                            <div class="site-logo">
                                <a href="@Url.Action("Index", "Home")" class="main-logo"><img src="/Images/logo.png" alt="Site Logo"></a>
                                <a href="@Url.Action("Index", "Home")" class="sticky-logo"><img src="/Images/sticky-logo.png" alt="Site Logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-12 possition-static">
                            <nav class="site-nav">
                                <ul class="site-menu">
                                    <li><a href="@Url.Action("Index", "Search")">@viewModel.Search</a></li>
                                    <li>
                                        <a href="#">@viewModel.Listing</a>
                                        <ul class="dropdown-menu-col-1">
                                            @foreach (var c in viewModel.Categories)
                                            {
                                                <li>
                                                    @{ var cd = c.GetDetail(); }
                                                    @Html.ActionLink(cd.Title, "Index", "Category", new { c.ID }, null)
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li><a href="@Url.Action("Index", "Map")">@viewModel.Map</a></li>
                                    <li><a href="#">@viewModel.Submission</a></li>
                                    <li><a href="@Url.Action("Index", "Contact")">@viewModel.Contact</a></li>
                                    <li><a href="#">@viewModel.AboutUs</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Area End Here -->
        
        <!-- Main Banner Area End Here -->
        @RenderBody()
        <!-- Footer Area Start Here -->
        <footer>
            <section class="footer-top-wrap">
                <div class="container">
                    <div class="row">
                        <div class="single-item offset-lg-3 col-lg-3 col-md-6 col-12">
                            <div class="footer-box">
                                <div class="footer-header">
                                    <h3>@viewModel.Link1</h3>
                                </div>
                            </div>
                        </div>
                        <div class="single-item col-lg-3 col-md-6 col-12">
                            <div class="footer-box">
                                <div class="footer-header">
                                    <h3>@viewModel.Link2</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- Modal Start-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="title-default-bold mb-none">Login</div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="login-form">
                    <input class="main-input-box" type="text" placeholder="User Name" />
                    <input class="main-input-box" type="password" placeholder="Password" />
                    <div class="inline-box mb-5 mt-4">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">Remember Me</label>
                        </div>
                        <label class="lost-password"><a href="#">Lost your password?</a></label>
                    </div>
                    <div class="inline-box mb-5 mt-4">
                        <button class="btn-fill" type="submit" value="Login">Login</button>
                        <a href="#" class="btn-register"><i class="fas fa-user"></i>Register Here!</a>
                    </div>
                </form>
                <label>Login connect with your Social Network</label>
                <div class="login-box-social">
                    <ul>
                        <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="google"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfQAitaAFcbjL3bS5IQk4ESCLVV3H5fms"></script>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
