@model OxTots.ViewModel.AdminFeatureDetailViewModel
@{ ViewBag.Title = "Feature Details"; Layout = null; }

<h2>Feature's Details Page</h2>

<h3>Add a new Feature Detail</h3>
@using (Html.BeginForm("FeatureDetailAdd", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.FeatureID)
    <select name="LanguageID" class="form-control">
        @foreach (var c in Model.Languages)
        {
            <option value="@c.ID">@c.Name</option>
        }
    </select>
    @Html.TextBoxFor(m => m.Title, new { placeholder = "Title" })
    <button type="submit">Add</button>
}

<table class="table" border="1">
    <tr>
        <th>Title</th>
        <th>Language</th>
        <th>Remove</th>
    </tr>

    @foreach (var item in Model.FeatureDetails)
    {
    <tr>
        <td>@item.Title</td>
        <td><img style="height: 35px;" src="/Images/flags/@item.Language.Icon" /></td>
        <td><a href="@Url.Action("FeatureDetailRemove", new {id = item.ID})">Remove this entry</a></td>
    </tr>
    }

</table>

<a href="@Url.Action("Main")">back to the main page</a>



