@{ ViewBag.Title = "Admin"; Layout = null; }
<h2>Select the operation you wish to perform</h2>

<a href="@Url.Action("Submission")">View Submissions</a> <br />
<a href="@Url.Action("Contact")">View Contacts</a> <br />
<a href="@Url.Action("Language")">View Languages</a> <br />
<a href="@Url.Action("Page")">View Pages</a> <br />
<a href="@Url.Action("Category")">View Categories</a> <br />

