@using Newtonsoft.Json
@model OxTots.ViewModel.AdminResourceViewModel

@{ ViewBag.Title = "Resources"; Layout = null; }

<h2>Resources Page</h2>

<h3>Add a new Resource</h3>
@using (Html.BeginForm("ResourceAdd", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <p>Main Category</p>
    <select name="MainCategoryID" class="form-control">
        @foreach (var c in Model.Categories)
        {
            <option value="@c.ID">@c.Name</option>
        }
    </select>
    @Html.TextBoxFor(m => m.Name, new { placeholder = "Name" })
    @Html.TextBoxFor(m => m.GPSLong, new { placeholder = "GPSLong" })
    @Html.TextBoxFor(m => m.GPSLat, new { placeholder = "GPSLat" })
    @Html.TextBoxFor(m => m.Phone, new { placeholder = "Phone" })
    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
    @Html.TextBoxFor(m => m.Website, new { placeholder = "Website" })
    @Html.TextBoxFor(m => m.Image, new { placeholder = "Image" })
    @Html.TextBoxFor(m => m.Icon, new { placeholder = "Icon" })
    <button type="submit">Add</button>
}

<h3>Edit Resource</h3>
@using (Html.BeginForm("ResourceEdit", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <select data-edit="ID" name="ID" class="form-control">
        @foreach (var c in Model.Resources)
        {
            <option value="@c.ID">@c.Name</option>
        }
    </select>
    <p>Main Category</p>
    <select data-edit="MainCategory" name="MainCategoryID" class="form-control">
        @foreach (var c in Model.Categories)
        {
            <option value="@c.ID">@c.Name</option>
        }
    </select>
    @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", data_edit = "Name"  })
    @Html.TextBoxFor(m => m.GPSLong, new { placeholder = "GPSLong", data_edit = "GPSLong" })
    @Html.TextBoxFor(m => m.GPSLat, new { placeholder = "GPSLat", data_edit = "GPSLat" })
    @Html.TextBoxFor(m => m.Phone, new { placeholder = "Phone", data_edit = "Phone" })
    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", data_edit = "Email" })
    @Html.TextBoxFor(m => m.Website, new { placeholder = "Website", data_edit = "Website" })
    @Html.TextBoxFor(m => m.Image, new { placeholder = "Image", data_edit = "Image" })
    @Html.TextBoxFor(m => m.Icon, new { placeholder = "Icon", data_edit = "Icon" })
    <button type="submit">Edit</button>
}

<h3>Associate Categories</h3>
@using (Html.BeginForm("ResourceAssociateCategory", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <select name="ID" class="form-control">
        @foreach (var c in Model.Resources)
        {
            <option value="@c.ID">@c.Name</option>
        }
    </select>
    <select name="MainCategoryID" class="form-control">
        @foreach (var c in Model.Categories)
        {
            <option value="@c.ID">@c.Name</option>
        }
    </select>
    @Html.LabelFor(m => m.FeatureEnabled, "Enable Association")
    @Html.CheckBoxFor(m => m.FeatureEnabled)
    <button type="submit">Edit</button>
}

<h3>Set Feature for Resource</h3>
@using (Html.BeginForm("ResourceFeature", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <select name="ID" class="form-control">
        @foreach (var c in Model.Resources)
        {
            <option value="@c.ID">@c.Name</option>
        }
    </select>
    <select name="FeatureID" class="form-control">
        @foreach (var c in Model.Features)
        {
            <option value="@c.ID">@c.Name</option>
        }
    </select>
    @Html.LabelFor(m => m.FeatureEnabled, "Enable Feature")
    @Html.CheckBoxFor(m => m.FeatureEnabled)

    <button type="submit">Set feature</button>
}

<table class="table" border="1">
    <tr>
        <th>Name</th>
        <th>GPSLong</th>
        <th>GPSLat</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Website</th>
        <th>Image</th>
        <th>Icon</th>
        <th>Features</th>
        <th>MainCategory</th>
        <th>Associated Categories</th>
        <th>Details</th>
        <th>Remove</th>
    </tr>

    @foreach (var item in Model.Resources)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.GPSLong</td>
            <td>@item.GPSLat</td>
            <td>@item.Phone</td>
            <td>@item.Email</td>
            <td>@item.Website</td>
            <td>@item.Image</td>
            <td>@item.Icon</td>
            <td>@(String.Join(",", item.ResourceFeatures.Where(f => f.Enabled).Select(f => f.Feature.Name)))</td>
            <td>@item.MainCategory.Name</td>
            <td>@(String.Join(",", item.Categories.Select(c => c.Name)))</td>
            <td><a href="@Url.Action("ResourceDetail", new {id = item.ID})">View the details</a></td>
            <td><a href="@Url.Action("ResourceRemove", new {id = item.ID})">Remove this entry</a></td>
        </tr>
    }

</table>

<a href="@Url.Action("Main")">back to the main page</a>

@Html.Hidden("Resources", JsonConvert.SerializeObject(Model.Resources.Select(r => new
{
    ID = r.ID,
    MainCategoryID = r.MainCategory.ID,
    Name = r.Name,
    GPSLong = r.GPSLong,
    GPSLat = r.GPSLat,
    Phone = r.Phone,
    Email = r.Email,
    Website = r.Website,
    Image = r.Image,
    Icon = r.Icon
}).ToList()))
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $("[data-edit='ID']").on("change",
        function() {
            updateEditValues();
        });

    function updateEditValues() {
        var id = $("[data-edit='ID']").val();
        var data = JSON.parse($("#Resources").val());

        var resource = data.find(r => r.ID == id);
        $("[data-edit='MainCategory']").val(resource.MainCategoryID);
        $("[data-edit='Name']").val(resource.Name);
        $("[data-edit='GPSLong']").val(resource.GPSLong);
        $("[data-edit='GPSLat']").val(resource.GPSLat);
        $("[data-edit='Phone']").val(resource.Phone);
        $("[data-edit='Email']").val(resource.Email);
        $("[data-edit='Website']").val(resource.Website);
        $("[data-edit='Image']").val(resource.Image);
        $("[data-edit='Icon']").val(resource.Icon);
    }

    updateEditValues();
</script>