@model OxTots.ViewModel.AdminSubmissionViewModel
@{ ViewBag.Title = "Submission"; Layout = null; }

<h2>Submissions Page</h2>

<table class="table" border="1">
    <tr>
        <th>Type</th>
        <th>Language</th>
        <th>Resource</th>
        <th>Personal Name</th>
        <th>Personal Email</th>
        <th>Resource Name</th>
        <th>Resource Address</th>
        <th>Resource Description</th>
        <th>Resource Email</th>
        <th>Resource Website</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Submissions) {
        <tr>
            <td>@item.Type</td>
            <td>@item.Language.Name</td>
            <td>@item.Resource.Name</td>
            <td>@item.PersonalName</td>
            <td>@item.PersonalEmail</td>
            <td>@item.ResourceName</td>
            <td>@item.ResourceAddress</td>
            <td>@item.ResourceDescription</td>
            <td>@item.ResourceEmail</td>
            <td>@item.ResourceWebsite</td>
            <td>
                <a href="@Url.Action("SubmissionRemove", new { id = item.ID})">Remove this entry</a>
            </td>
        </tr>
    }

</table>

<a href="@Url.Action("Main")">back to the main page</a>
