@using System.Web.Script.Serialization
@model OxTots.ViewModel.HomeViewModel

@{ ViewBag.Title = "Home Page"; }

<!-- Main Banner Area Start Here -->
<section class="main-banner-wrap-layout1 bg-common overlay-dark-30 bg--gradient-top-30" data-bg-image="@Model.Image">
    <div class="container">
        <div class="main-banner-box-layout1">
            <div class="row category-search-form">
                @using (Html.BeginForm("Query", "Search", new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Get, new { @class = "col-12" }))
                {
                    <div class="form-items col-12">
                        <div class="input-group stylish-input-group">

                            <input type="text" placeholder="@Model.SearchPlaceHolder" class="form-control"
                                   name="q" id="form-website" data-error="@Model.SearchError" required>
                            <span class="input-group-addon">
                                <button type="submit">
                                    <i class="flaticon-search"></i>
                                </button>
                            </span>
                            <div class="help-block with-errors"></div>

                        </div>
                    </div>
                }
            </div>
            <ul class="item-ctg">
                @foreach (var c in Model.Categories)
                {
                    <li>
                        <a class="item-icon" href="@Url.Action("Index", "Category", new { c.ID }, null)"><i class="@c.Icon"></i></a>
                        <a href="listing-grid-view1.html" class="ctg-title">@c.Title</a>
                    </li>
                }
                <li class="d-none d-lg-block">
                    <p>@Model.CategoriesText</p>
                    <div class="item-img">
                        <img src="/Images/figure/arrow.png" alt="Arrow">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Feature Area Start Here -->
<section class="feature-wrap-layout1 padding-top-9p6 bg--light">
    <div class="container">
        <div class="section-heading heading-dark heading-center">
            <h2 class="item-title">@Model.Title</h2>
            <div class="item-sub-title">@Model.Description</div>

        </div>
    </div>
    <div class="container-fluid">
        @{ var js = new JavaScriptSerializer();}
        <div id="googleMapData" type="hidden" value="@js.Serialize(Model.Markers)"></div>
        <div id="googleMap" class="HomeGoogleMap col-12"></div>
    </div>
</section>
<!-- Feature Area End Here -->