@using System.Web.Script.Serialization
@{ ViewBag.Title = "Search Page"; }
@model OxTots.ViewModel.SearchViewModel
<!-- Listing Area Start Here -->
<section class="full-width-container inner-page-top-margin bg--accent">
    <div class="container-fluid">
        <div class="min-row row no-gutters">

            <div class="order-last order-lg-first col-xl-7">
                <div class="listing-box-wrap-layout1">
                    <div class="filter-box-layout1">
                        <div class="container">
                            <div class="section-heading heading-dark heading-center">
                                <h2 class="item-title">@Model.Title</h2>
                                <div class="item-sub-title">@Model.Description</div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @using (Html.BeginForm("Query", "Search", new { ReturnUrl = ViewBag.ReturnUrl },
                                    FormMethod.Get, new { @class = "col-12" }))
                                {
                                    <div class="input-group stylish-input-group">
                                        <input type="text" placeholder="@Model.SearchPlaceHolder" class="form-control" name="q" id="form-website" data-error="@Model.SearchError" required>
                                        <span class="input-group-addon">
                                            <button type="submit">
                                                <i class="flaticon-search"></i>
                                            </button>
                                        </span>
                                    </div>

                                }
                            </div>
                            @*<div class="col-1"><a href="@Url.Action("Index")"><i class="fas fa-redo"></i></a></div>*@
                            
                        </div>
                    </div>
                    @if (Model.Results.Any())
                    {
                        <div class="item-sorting-wrap">
                            <div class="row">
                                <div class="col-sm-6 col-12 d-flex align-items-center">
                                    <div class="item-sorting-title">
                                        @Model.ResultsFound: @Model.Results.Count
                                    </div>
                                </div>
                                <div class="col-sm-6 col-12 d-flex align-items-center justify-content-sm-end">
                                    <div class="layout-switcher">
                                        <ul>
                                            <li class="active">
                                                <a class="product-view-trigger" href="#" data-type="listing-box-list">
                                                    <i class="fa fa-list"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="product-view-trigger" href="#" data-type="listing-box-grid">
                                                    <i class="fa fa-th-large"></i>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div id="listing-view" class="listing-box-list">
                        <div class="row">
                            @if (!Model.Results.Any())
                            {
                                <p>@Model.SearchEmpty</p>
                            }
                            @foreach (var result in Model.Results)
                            {
                                <div class="col-xl-6 col-lg-4 col-md-6 col-sm-12 col-12" style="opacity: 1;">
                                    <div class="product-box">
                                        <div class="item-img bg--gradient-50">
                                            <img src="@result.Image" alt="Listing" class="img-fluid grid-view-img">
                                            <img src="@result.Image" alt="Listing" class="img-fluid list-view-img">
                                        </div>
                                        <div class="item-content">
                                            <h3 class="item-title"><a href="@Url.Action("Index", "Resource", new {id = result.ID})">@result.Title</a></h3>
                                            <p class="item-paragraph">@result.Description</p>
                                            <ul class="meta-item">
                                                <li class="ctg-name"><a href="@Url.Action("Index", "Resource", new {id = result.ID})">@Model.GoToResource<i class="space-next flaticon-next"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-first order-lg-last col-xl-5">
                @{ var js = new JavaScriptSerializer();}
                <div id="googleMapData" type="hidden" value="@js.Serialize(Model.Markers)"></div>
                <div id="googleMap" class="SearchGoogleMap col-12"></div>
            </div>
        </div>
    </div>
</section>
<!-- Listing Area End Here -->